

<form name="customerForm" ng-submit ="CustomerVm.reserve(customerForm.$valid)" class = "myform" novalidate>

    <div class = "form-group">
    <label for= "firstName">First Name</label>
    <input type ="text"  name="firstname" class="form-control" ng-model="CustomerVm.newCustomer.firstname" id="firstName" required>

        <div ng-messages="customerForm.firstname.$error"  class="has-error" ng-if="customerForm.firstname.$dirty">
            <p ng-message="required">Name is required</p>
        </div>
    </div>
    <div class = "form-group">
        <label for= "lastName">Last Name</label>
        <input type ="text"  name="lastname" class="form-control" ng-model="CustomerVm.newCustomer.lastname" id="lastName" required>
        <div ng-messages="customerForm.lastname.$error"  class="has-error" ng-if="customerForm.lastname.$dirty">
            <p ng-message="required">Name is required</p>
        </div>
    </div>
    <div class = "form-group">
        <label for= "rdate">Date </label>
        <input type ="date" name="rdate" class="form-control" id="rdate" required>
        <div ng-messages="customerForm.rdate.$error"  class="has-error" ng-if="customerForm.rdate.$dirty">
            <p ng-message="required">Date is required</p>
        </div>
    </div>

<div class="form-group">
    <label for="partysize">Party Size</label>
    <input type="number" name="partysize" class="form-control" id="partysize" required placeholder="Party size">
    <div ng-messages="customerForm.partysize.$error"  class="has-error" ng-if="customerForm.partysize.$dirty">
        <p ng-message="required">Party Size is required</p>
    </div>
</div>
<div class="form-group">
    <label for="phone">Phone #</label>
    <input type="number" class="form-control" id="phone"  min=10 required placeholder="Phone number">
    <div ng-messages="customerForm.name.$error"  class="has-error" ng-if="customerForm.name.$dirty">
        <p ng-message="required">Name is required</p>
    </div>
</div>
    <button class="btn btn-primary" type="submit">Reserve</button>

</form>
 <div class="editreserve">
   <p class="myButton">  <a  class="btn btn-primary" ng-href="#{{CustomerVm.setPage2}}" role="button">Edit it</a></p>
 </div>

